/*---------------
    RESET
---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
}

img {
    max-width: 100%;
}

@keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }

/* ----------------
    GENERAL
-----------------*/
.container{
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col{
    padding: 0 10px;
}

section {
    padding: 50px 0;
}

/*-------------------
    UTILITY
--------------------*/
.bg-black {
    background-color: #333333;
}

.bg-blue {
    background-color: #0084FD;
}

.bg-lightblue {
    background-color: #B5DDFF;
}

.bg-purple {
    background-color: #9792E4;
}

.bg-white {
    background-color: white;
}

.text-blue {
    color: #0084FD;
}

.text-lightblue {
    color: #B5DDFF;
}

.text-white {
    color: white;
}

.text-purple {
    color: #9792E4;;
}

.text-big-yellow {
    color: #FDC15F;
    font-size: 80px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-line-height {
    line-height: 2.5;
}

.flow-16 > *:not(:first-child) {
    margin-top: 16px;
}

.flow-20 > *:not(:first-child) {
    margin-top: 20px;
}

.flow-30 > *:not(:first-child) {
    margin-top: 30px;
}

.img-circle {
    border-radius: 50%;
}

/* ----------------
    CARD
-----------------*/
.card {
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.card-50 {
    padding: 20px 20px;
    border-radius: 20px;
}

.card-people{
    display: flex;
    height: auto;
}

/* ----------------
    TYPOGRAPHY
-----------------*/
body {
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
}

/* ----------------
    BUTTONS
-----------------*/
.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.btn-header:hover {
    color: white;
    background-color: #9792E4;
    transition: 0.4s;
}

.btn-primary {
    border: 1px solid #0084FD;
    background-color: #0084FD;
    color: white;
}

.btn-primary:hover {
    transition: 0.4s;
    background-color: white;
    color: #0084FD;
}

.btn-secondary {
    border: 1px solid #9792E4;
    background-color: #9792E4;
    color: white;
}

.btn-secondary:hover {
    transition: 0.4s;
    background-color: white;
    color: #9792E4;
}

.btn-tertiary {
    padding: 30px 90px;
    border-radius: 70px;
    color: #9792E4;
}

.btn-tertiary:hover {
    transition: 0.4s;
    background-color: #FDC15F;
    color: white;
}

.btn-circle {
    background-color: #9792E4;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.btn-circle:hover {
    transition: 0.4s;
    background-color: #333333;
    color: #9792E4;
    transition: 0.2s;
    transform: rotate(180deg);
}

.btn-large {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary i {
    margin-right: 10px;
}

.btn-apple-store {
    font-weight: 700;
    letter-spacing: 2px;
}

/* ----------------
    HEADER
-----------------*/
header {
    padding: 14px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img:hover {
    animation: vibrate 0.5s;
    animation-iteration-count: 0.5s;
}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

.main-nav a:hover {
    color: #9792E4;
    transition: 0.4s;
}

.menù-tablet {
    display: none;
    position: relative;
}

.btn-menu-mobile {
    display: none;
    color: white;
    font-size: 20px;
}

.overlay {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #0084FD;
    overflow: hidden;
    width: 300px;
    height: 250px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

.overlay ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.overlay a {
    text-decoration: none;
    color: white;
}


/* ----------------
    MAIN
-----------------*/
/* -------INTRO---------*/

#intro .col{
    width: calc(100% / 3);
    margin-bottom: 20px;
}

#intro .col-big {
    flex-grow: 1;
}

#intro .col-big .card {
    display: flex;
    padding-bottom: 0px;
}

#intro .col-big .card img {
    display: block;
    max-width: 250px;
}

#intro .card > i {
    font-size: 50px;
}

#intro .card p {
    font-size: 14px;
    color: #5a6e7f;
    font-weight: 700;
}

/* -------PLANNING---------*/

#planning .container {
    padding-top: 40px;
}

#planning .row {
    align-items: flex-end;
}

#planning .col {
    width: 50%;
}

#planning .col-right {
    padding-left: 42px;
}

.card-50 {
    width: 60%;
    text-align: center;
}

.card-50 p {
    font-style: italic;
}

/* -------TESTIMONIALS---------*/

#testimonials h1 {
    font-size: 40px;
}

#testimonials .row:first-child > * {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

#testimonials .row {
    padding-top: 50px;
}

#testimonials .col {
    margin-bottom: 30px;
}

#testimonials .card {
    align-items: center;
}

#testimonials .card div {
    padding-right: 50px;
}

#testimonials .card p {
    padding-bottom: 30px;
    font-style: italic;
}

#testimonials span {
    font-weight: bold;
    letter-spacing: 2px;
}

/* -------BENEFITS---------*/

#benefits .benefits-title {
    padding: 30px 0px;
}

#benefits .benefits-title h1 {
    font-size: 40px;
    text-align: center;
}

#benefits .col {
    width: calc(100% / 3);
    padding: 15px 15px;
}

#benefits .card h1 {
    font-size: 50px;
}

#benefits button {
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 36px;
}

/* -------ABOUT US---------*/
#about-us .row {
    display: flex;
    padding: 100px 0px;
}

#about-us .col-left {
    width: 60%;
    padding: 0px 50px;
}

#about-us .col-right {
    width: 40%;
    padding: 0 80px;
}

#about-us .col-right .linkedin-img {
    text-align: center;
    position: relative;
}

#about-us h1 {
    font-size: 60px;
}

#about-us img {
    width: 70%;
}

#about-us .linkedin-img i {
    position: absolute;
    font-size: 80px;
    left: 70%;
    top: 0%;
}

#about-us .linkedin-text {
    padding-left: 30px;
}

/* -------GET STARTED---------*/
#get-started .row {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#get-started h2 {
    font-size: 35px;
}

/* ----------------
    FOOTER
-----------------*/
footer .row {
    margin: 0 auto;
    max-width: 50%;
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* ----------------
    RESPONSIVE
-----------------*/

@media screen and (max-width: 992px) {
    .menù-tablet {
        display: block;
    }

    .btn-menu-mobile {
        display: block;
        background: transparent;
    }

    .btn-menu-mobile:hover {
        transition: 0.2s;
        transform: rotate(90deg);
    }

    .overlay {
        display: block;
    }

    nav {
        display: none;
    }

    body .row {
        padding: 10px 20px;
    }

    body .container {
        padding: 0px 20px;
    }

    #intro .col-big .card {
        display: block;
    }

    #planning .row {
        display: block;
    }

    #planning .col {
        width: 100%;
    }

    #planning .col-right {
        padding-left: 0px; 
    }

    #planning .card-50 {
        width: 100%;
        margin-top: 100px;
    }

    #benefits .col {
        width: 50%;
    }

    #about-us .col-right {
        padding: 0 50px;
    }    

    footer .row {
        max-width: none;
        display: block;
    }
}

@media screen and (max-width: 768px) {


    #intro .col {
        width: 100%;
    }

    #intro .col-big .card-right {
        margin-top: 20px;
    }

    #intro .col-big .card img {
        margin: 0 auto;
    }

    #testimonials .card-people {
        display: block;
    }

    #testimonials img {
        width: 50%;
    }

    #testimonials .card div {
        margin: 0 auto;
        padding-right: 0px;
        text-align: center;
    }

    #benefits .col {
        width: 100%;
    }

    #about-us .row {
        flex-direction: column;
    }

    #about-us .col {
        width: 100%;
        padding: 40px 20px;
        text-align: start;
    }

    #about-us .col-right {
        padding-right: 40px;
    }

    #about-us .col-right .linkedin-img {
        text-align: start;
        position: relative;
    }

    #about-us .linkedin-text {
        padding-left: 0px;
    }

    #about-us .linkedin-img i {
        position: absolute;
        left: 40%;
        top: 0%;
    }

    #about-us img {
        width: 60%;
    }

    #get-started .row {
        max-width: none;
    }
}